html {
    font-size: 1px;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}



ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.flex-jc {
    display: flex;
    justify-content: space-between;

}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 75px 0;
}

h1,
h2 {
    font-size: 24rem;
    letter-spacing: 1rem;
    color: #bfbfbf;
    text-transform: uppercase;
    margin-bottom: 25px;

}

.menu {
    background-color: #2a3644;
    border-radius: 3px;
}

.menu a {
    font-size: 16rem;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid #3f4852;
    border-top: none;
    border-bottom: none;
    transition: 0.3s;
}

.menu {
    margin-bottom: 60px;
}

.menu a:hover {
    color: #fd8612;
    background-color: #3f4852;

}

.menu li:first-child a {
    border-left: none;
}

.menu li:last-child a {
    border-right: none;
}

.kitchen-menu {
    margin-bottom: 40px;
}

.menu li {
    position: relative;
}

.menu li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 110%;
    width: 100%;
    z-index: -1;

}

.kitchen-menu span {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 10%;
}

.kitchen-menu li:last-child .submenu {
    left: unset;
     right: 0;
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 110%;
    background-color: #d2d4d5;
    z-index: 1;
    border-radius: 3px;
    overflow: hidden;
}

.kitchen-menu li:hover .submenu {
    display: block;
}

.kitchen-menu li:before:hover+.submenu {
    display: block;
}

.submenu:hover {
    display: block;
}

.submenu li {
    width: 210px;
}

.submenu a {
    color: #2a3644;
    padding: 15px 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #b9bdc1;

}

.submenu li:last-child a {
    border: none;
}

.electronics-menu {
    justify-content: flex-start;
}

.electronics-menu li {
    flex: 1 1 auto;

}

.electronics-menu a {
    width: 100%;
    text-align: center;
}

.electronics-menu {
    margin-bottom: 40px;
}

.main-menu li:first-child a {
    position: relative;
    padding-left: 60px;
}

.main-menu li:first-child a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    background-image: url(../img/sprite.png);
    width: 16px;
    height: 13px;
}

.soc a {
    border: none;
    background-image: url(../img/sprite.png);
    padding: 0;

}

.fb {
    width: 9px;
    height: 19px;
    background-position: -18px 0;
}

.tw {
    width: 17px;
    height: 15px;
    background-position: -31px 0;
}

.inst {
    width: 18px;
    height: 18px;
    background-position: -52px 0;
}